.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.log
.DS_Store
.env
assets/models/*.tflite
web/assets/models/*.bin
web/assets/models/model.json
node_modules/
web/dist/
__pycache__/
*.pyc
.venv/
ml_pipeline/data/
ml_pipeline/outputs/
